body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 1500px;
    display: flex;
    flex: 1;
    margin-top: 45px; /* Отступ сверху, равный высоте navbar */
    height: calc(100vh - 25px); /* Учитываем высоту navbar */
}

.filters {
    width: 300px;
    background-color: #f8f8f8;
    padding: 10px;
    border-right: 1px solid #ccc;
    height: 100%; /* Фильтры на всю высоту контейнера */
    border-radius: 8px;
    margin-right: 15px;
}
.filters h3 {
    margin: 0;
    padding: 5px 0;
}
.filters h4 {
    margin: 10px 0 5px 0;
}
.filters select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
.filters .price-range {
    display: flex;
    gap: 10px;
}
.filters .price-range .price-input {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.filters .price-range .price-input label {
    font-size: 14px;
    margin-bottom: 5px;
}
.filters .price-range .price-input input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
.price-button {
    width: 60%;
    position: center;
    background-color: #555;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: block;
}
.price-button:hover {
    background-color: #666;
}

.right-section {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.search-bar {
    padding: 5px 10px;
    background-color: #ddd;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin: 10px 10px 10px 0;
    height: 50px;
}
.search-bar input {
    flex: 1;
    padding: 4px 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    height: 24px;
    background-color: #ddd;
}
.search-bar button {
    padding: 4px 15px;
    background-color: #666;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
    line-height: 20px;
}
.search-bar button:hover {
    background-color: #777;
}

.components {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}
.component-item {
    display: flex;
    align-items: center; /* Центрируем содержимое по вертикали */
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    position: center;
    background: #fff;
}
.component-image {
    width: 130px;
    height: 130px;
    background-color: #fff;
    margin-right: 15px;
    border-radius: 6px;
}
.component-info {
    flex: 1; /* Занимает оставшееся пространство */
}
.component-info h3 {
    margin: 0 0 10px 0;
}
.component-info p {
    width: 400px;
    margin: 6px 0;
    color: #666;
}
.component-button {
    margin-right: 300px;
    margin-bottom: 15px;
    padding: 10px 20px;
    background-color: #666;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание для ссылки */
}
.component-button:hover {
    background-color: #777;
}